/* App style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resume {
  margin: 0 350px;
}

.invisible {
  display: none;
}

.side {
  background-color: lightgrey;

  width: 600px;
  height: 200px;
  position: absolute;
  cursor: pointer;

  float: right;
  z-index: 3;
  position: absolute; /*newly added*/
  right: 5px; /*newly added*/
  top: 5px; /*newly added*/
}

.header {
  border: solid 2px black;
  display: flex;
  width: 100%;
}

.basic-info {
  width: 75%;
}

.photo {
  width: 25%;
  margin: 8px;
}

.header-dob-gender {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.header-dob {
  border: solid 2px black;
  width: 50%;
}

.header-gender {
  border: solid 2px black;
  width: 50%;
}

.contacts {
  margin-top: 14px;
  border: solid 2px black;
}
.phones {
  width: 100%;
}
.phone,
.mobile {
  display: inline-block;
  width: 50%;
  border: olid 2px black;
}
